.form {
    display: flex;
    flex-direction: row;
    gap: 14em;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

select {
    padding: 5px 10px;
    border: 1px solid aqua;
    background-color: #fff;
}

select:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1)
}

button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid aqua
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

input {
    border: 1px solid aqua;
    background: #fff;
}

@media (max-width: 630px) {
    .form {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .first {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .second {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    select {
        padding: 5px 10px;
        border: 1px solid aqua;
    }
}


