@media (max-width: 2000px) {
    .form {
        display: flex;
        flex-direction: row;
        gap: 14em;
    }

    .first {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .second {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    select {
        padding: 5px 10px;
        border: 1px solid aqua;
    }

    button {
        padding: 5px 10px;
    }

    button:hover {
        cursor: pointer;
        padding: 6px 11px;
    }
}
@media (max-width: 630px) {
    .form {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .first {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .second {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    select {
        padding: 5px 10px;
        border: 1px solid aqua;
    }

    button {
        padding: 5px 10px;
    }

    button:hover {
        cursor: pointer;
        padding: 6px 11px;
    }
}


